
nav{
  border-radius: 10px; font-family: Itim;
}
body{
    background-color: #FFE7EE;
}
div{
  font-family: Itim; color: #936a85;
}
#navitem{
  background-color:#FFE7EE;
  font-size: 20pt;
  padding:5px;
}
#viewdetail{
  background-color:#FFE7EE; 
  color: #936a85
}
.navbar{
  background-color:#D291BC
}
img{
  margin: 0.5rem;
}
#myidol{
  font-size: 20pt; 
  color: white;
}
#navlogin{
  text-decoration:none;
  font-size: 15pt;
}
.bg{
  background-color:#FFE7EE
}
#jumbo{
  background-color:#FAB5C9; 
  color: #936a85; 
  font-family: Itim;
}
#song{
  background-color:#FAB5C9
}
tr:nth-child(even) {
  background-color: #fab5c838;
}
tr:nth-child(odd) {
  background-color: #FAB5C9;
}
footer{
  background-color:#D291BC;
  text-align:center;
}

#btn{
  background-color:#FAB5C9; 
  margin-bottom: 1.5rem;
}
.btn-primary{
  background-color:#D291BC;
  border:#D291BC; 
}
#findLatLngBtnId{
  background-color:#FAB5C9;
  color:#4b3c46;
  border:#936a85 
}
#addMarkerBtnId{
  background-color:#FAB5C9;
  color:#4b3c46;
  border:#936a85
}
#inform{
  background-color:#FAB5C9;
  color:#4b3c46;
  border:#936a85 
}
#Comment{
  background-color:#FAB5C9;
  color:#644f5d;
  border:#936a85
}
#sendComment{
  background-color:#FAB5C9;
  color:#4b3c46;
  border:#936a85
}
p{
   font-family: Itim;
}
